processor_workers_count: 10
raw_logs_buffer_size: 10
processed_logs_buffer_size: 10
storage_flush_interval: 10s
storage:
  type: clickhouse
  config:
    addr: ["localhost:9000"]
    database: logzilla
    username: logzilla
    password: logzilla
processors:
  - name: json-parser
    type: json
    config:
      timestamp: "t"
      message: "m"
      level: "l"
sources:
  - name: main-server
    type: file
    processors: ["json-parser"]
    config:
      path: "/var/log/main-server.log"
logger:
  type: colored-text
  level: debug
